{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title" color="blue">О сервисе</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">
        <br>
        <p>Техникум предоставляет вам удобный инструмент для быстрой и эффективной разработки технической документации. Мы понимаем, что создание качественной документации может быть трудоемким и затратным процессом. Поэтому наш сервис разработан с учетом вашего комфорта и экономии времени.</p>
        <p>Мы предлагаем вам простой способ создания технической документации, который позволит сократить время, затрачиваемое на написание и форматирование документов. Наш инструмент автоматически генерирует различные разделы, шаблоны и структуру, освобождая вас от рутинных задач.</p>
        <p>Благодаря нашему сервису, вы сможете сосредоточиться на самой сути вашего проекта, не отвлекаясь на трудоемкую разработку документации. Вы сэкономите время, которое сможете использовать для других важных задач.</p>
      </p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Контакты для обратной связи:</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">
        <br>
        <a>Email: emaslyuk322@gmail.com</a><br>
        <a>Telegram: @jenyahard</a>
      </p>
    </div>
  </div>
{% endblock %}

