{% extends "base.html" %}
{% block content %}
<h5>Разработка документов СМК (ISO 9001)</h5>
<p>Данный раздел находится в процессе разработки</p>
<!--<br>
<form action="smk_get_data/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Введите дату документа:<span style="color: red;">*</span></label>
        <br><input type="date" name="field6" value=""><br>
    <label>Введите номер документа:<span style="color: red;">*</span></label>
        <br><input type="text" name="field7" value=""><br>
    <label>Срок действия договора(выберите):</label><br>
        <select name="field4" required style="width: 180px;">
        <option value="1 год">1 год</option>
        <option value="2 года">2 года</option>
        <option value="3 года">3 года</option>
        <option value="5 лет">5 лет</option>
        <option value="10 лет">10 лет</option>
        <option value="20 лет">20 лет</option>
        </select><br><br>
    <br><input type="submit" class="btn btn-success" value="Сформировать документ">
</form>-->
{% endblock %}